<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                    <div class="card-body">
                        <form th:object="${loginMemberForm}" method="post">
                            <div th:if="${#fields.hasGlobalErrors()}">
                                <p class="alert-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                    전체 오류 메시지</p>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" th:field="*{studentNum}" type="text"
                                       th:errorclass="is-invalid" placeholder="studentNum"/>
                                <label for="studentNum">학번</label>
                                <div class="invalid-feedback" th:errors="*{studentNum}">에러 메시지</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" th:field="*{password}" type="password"
                                       th:errorclass="is-invalid" placeholder="password"/>
                                <label for="password">비밀번호</label>
                                <div class="invalid-feedback" th:errors="*{password}">에러 메시지</div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" th:href="@{./find-member}">id/비밀번호 찾기</a>
                                <button type="submit" class="btn btn-primary">로그인</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small">초기 비밀번호는 학번과 동일합니다</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>