<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div id="layoutSidenav_nav" th:fragment="side">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">학부 시스템</div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#lectureSide" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    교과/수강
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="lectureSide" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{../lectures/my}">내 강의</a>
                        <a class="nav-link" th:href="@{../lectures/applicationPage}">수강 신청 페이지</a>
                        <a class="nav-link" th:href="@{../lectures/opened}">개설 강의 조회</a>
                        <a class="nav-link" th:href="@{../lectures/CRUDLecture}">강의 개설/수정</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#gradeSide" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    성적/졸업
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="gradeSide" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{../grade/myGrade}">수강 성적 조회</a>
                        <a class="nav-link" th:href="@{../grade/objection}">성적 이의 신청</a>
                        <a class="nav-link" th:href="@{../grade/objectionList}">성적 이의 신청 목록</a>
                        <a class="nav-link" th:href="@{../grade/giveGrade}">성적 입력/수정</a>
                        <a class="nav-link" th:href="@{../grade/graduateGrade}">졸업 학점 조회</a>
                    </nav>
                </div>

            </div>
        </div>
    </nav>
</div>

</body>
</html>
