<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header" >
                <i class="fas fa-chart-bar me-1"></i>
                <span th:text="|${#strings.substringBefore(lectureList[0].semester,'/')}년 ${#strings.substringAfter(lectureList[0].semester,'/')}학기 강의목록|">
                    @님의 @년 @학기 강의목록
                </span>
            </div>
            <div class="card-body">
                <table th:replace="~{fragment/lectureTable :: lectureTable(false)}"></table>
            </div>
        </div>
    </div>
</main>
</body>

</html>