<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header" >
                <i class="fas fa-chart-bar me-1"></i>
                <span th:text="|${loginMemberName}님의 ${#strings.substring(#messages.msg('current.semester'),0,4)}년 ${#strings.substring(#messages.msg('current.semester'),5)}학기 강의목록|">
                    @님의 @년 @학기 강의목록
                </span>
            </div>
            <div class="card-body">
                <table th:replace="~{fragment/lectureTable :: lectureTable('show')}"></table>
            </div>
        </div>
    </div>
</main>
</body>

</html>